<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <body>
    <h1>About</h1>
    <p>
      This website is intended to serve as an information bulletin for all badminton related activities at the VG club house.
    </p>
  </body>
</html>
