<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <body>
    <h1>Vipul Greens Badminton</h1>
    <p>
      This is the help page for the VG Badminton website. (Under construction)
    </p>
  </body>
</html>
