<div class="center jumbotron">
  <h1>Vipul Greens Badminton</h1>

  <h2>
    This is the home page for the
    Vipul Greens Badminton Champions
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("baddy.png", alt: "Badminton logo"),
            '#' %>
