<h1>VG Badminton</h1>

<p>Hey <%= @user.name %>,</p>

<p>
Welcome to VG Badminton! Click on the following link to activate your account.
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>